* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.Container {
    width: 100%;
    max-height: 100vh; /* Adjust as necessary */
    background: #fffde3;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Calculator {
    background: #3a4452;
    padding: 10px; /* Adjust padding for smaller screens */
    border-radius: 10px;
}

.Calculator form input {
    border: 0;
    outline: 0;
    width: 15%; /* Adjust button width as a percentage */
    height: 60px;
    border-radius: 10px;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.2);
    background: transparent;
    font-size: 4vw; /* Adjust font size relative to viewport width */
    color: #fff;
    cursor: pointer;
    margin: 5px; /* Adjust margin for smaller screens */
}

form .Display {
    display: flex;
    justify-content: flex-end;
    margin: 10px 0; /* Adjust margin for smaller screens */
}

form .Display input {
    text-align: right;
    flex: 1;
    font-size: 8vw; /* Adjust font size relative to viewport width */
}

form input.Equal {
    width: 30%; /* Adjust width as a percentage */
}

form input.Operator {
    color: #3358ff;
}

/* Media Query for smaller screens */
@media screen and (max-width: 768px) {
    .Calculator {
        padding: 5px;
    }

    .Calculator form input {
        width: 25%;
        font-size: 5vw;
        margin: 3px;
    }

    form .Display {
        margin: 5px 0;
    }

    form .Display input {
        font-size: 6vw;
    }

    form input.Equal {
        width: 40%;
    }
}
